# SPDX-License-Identifier: MPL-2.0
name: Idris2 CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: read-all

jobs:
  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Install Idris2
        run: |
          sudo apt-get update
          sudo apt-get install -y idris2

      - name: Typecheck package
        run: idris2 --typecheck idris2-echidna.ipkg

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: typecheck
    steps:
      - name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Install Idris2
        run: |
          sudo apt-get update
          sudo apt-get install -y idris2

      - name: Build package
        run: idris2 --build idris2-echidna.ipkg
